h1{
    font-weight: 700;
    color: #005677;
}
body{
    font-family: 'Times New Roman', Times, serif;
    text-align:center;
    max-width: 80%;
    margin: 10px, auto;
    }
h2{
    color: #176381;
    font-weight: 600;
    font-stretch: condensed;
    background-color: burlywood;
    font-weigh ;
}